.background-gradient {
    background: linear-gradient( to left top, #E0D4AE, #A38560);
    height: 100%
}

.center {
    text-align: center;
}

.header {
    padding: 60px;
    color: black;
    font-size: 30px;
}

.welcome-paragraph {
    text-align: justify;
}
